<div class="contenu">
    <div class="navbar">
        <div class="w3-container">
            <ul class="line nav w3-padding w3-text-teal">
                <li><a  type="button" data-target="#MessageModal" data-toggle="modal" class="act btn w3-circle w3-card-2 w3-margin-left"><span class="glyphicon glyphicon-plus"></span>
                        <span class="text"> Nouveu</span></a></li>
                <li><a class="act btn w3-circle w3-card-2 w3-margin-left"><span
                            class="glyphicon glyphicon-pencil"></span> <span class="text"> Modifier</span></a></li>
                <li><a (click)="deleteAdmin()" class="act btn w3-circle w3-card-2 w3-margin-left"><span
                            class="glyphicon glyphicon-trash"></span> <span class="text"> Supprimer</span></a></li>
                <li><a class="act btn w3-circle w3-card-2 w3-margin-left"><span
                            class="glyphicon glyphicon-eye-open"></span> <span class="text"> Afficher</span> </a></li>
            </ul>
        </div>
    </div>
    <div class="w3-responsive list">
        <table class="w3-hoverable w3-bordered w3-border w3-table">
            <thead>
                <tr class="w3-blue">
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr class="w3-hover-blue" (click)="select(it)" [class.selected]="it == selectedAdmin"
                    *ngFor="let it of Admins">
                    <td>{{it.civilite}} {{it.nom}}</td>
                    <td>{{it.prenom}}</td>
                    <td>{{it.email
                        }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" role="dialog" id="NewModal">
    <div class="modal-dialog">
        <div class="modal-content w3-border-round-large">
            <div class="modal-header">
                <button id="dismiss" data-dismiss="modal" class="close w3-text-red"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="w3-center"><strong> Nouveau</strong></h4>
            </div>
            <div class="modal-body">
               <form >

               </form>
            </div>
        </div>
    </div>
</div>