<div class="contenu w3-container w3-padding">
    <div *ngFor="let message of MessageEtudiant">
        <div  data-target="#MessageEnv" data-toggle="modal" (click)="selectMessage(message)"  class="w3-hover-blue w3-round-large message-list w3-margin w3-card-2 w3-container w3-padding">
            <h4><strong>À: </strong> {{message.idprofesseur.nom}} {{message.idprofesseur.prenom}}</h4>
            <h4>{{message.message}}</h4>
        </div>
    </div>
</div>
<!--  Message Modal -->

<!-- Message modal -->
<div *ngIf="selectedMessage" class="modal fade" role="dialog" id="MessageEnv">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dismissM" class="w3-text-red close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="modal-body w3-container">
                <form #s="ngForm">
                    <label *ngIf="selectedProfesseur" for="destinataire">À: {{selectedProfesseur.nom}}
                        {{selectedProfesseur.prenom}}</label>
                    <span class="selectedProfesseur"></span>
                    <h4><strong>Pièce jointe:</strong></h4>
                    <ul *ngIf="filename" class="nav w3-margin w3-container w3-padding w3-round-large w3-card-2">
                        <li>
                            <a download="{{filename}}" href="/assets/File/{{selectedMessage.urlfile}}"><span class="glyphicon glyphicon-file"> {{filename}}</span></a>
                        </li>
                    </ul>
                    <textarea class="w3-input" [(ngModel)]="selectedMessage.message" name="MessageC"
                        id="MessageC" cols="30" rows="10" placeholder="Insérer votre message" required></textarea>
                </form>
            </div>
        </div>
    </div>
  
</div>
