.box{
    width: 500px;
    height: auto;
    margin:auto;
    margin-top: 50px;
    border-radius: 20px;
}
label{
    color: rgb(0, 162, 255);
}
@media screen and (max-width:750px) {
    .box{
        width: 100%;
        margin: 5px;
    }
}