<div class="w3-container">
    <div class="row">
        <div class="col-sm-3">
            <div routerLink="/Admin/Urnes" class="box w3-hover-blue w3-margin w3-round-large w3-card-2 w3-padding">
                <h2 class="w3-center"><Strong>1</Strong></h2>
                <hr>
                <div class="w3-margin-top">
                    <h1 class="w3-center"> <a  routerLink="/Admin/Urnes"> GESTION URNES </a></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div routerLink="/Admin/Livrables" class="box w3-hover-blue w3-margin w3-round-large w3-card-2 w3-padding">
                <h2 class="w3-center"><Strong>2</Strong></h2>
                <hr>
                <div class="w3-margin-top">
                    <h1 class="w3-center nav"><a routerLink="/Admin/Livrables"> LIVRABLES </a></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div routerLink="/Admin/Stocks" class="box w3-hover-blue w3-margin w3-round-large w3-card-2 w3-padding">
                <h2 class="w3-center"><Strong>3</Strong></h2>
                <hr>
                <div class="w3-margin-top">
                    <h1 class="w3-center"><a routerLink="/Admin/Stocks"> STOCK </a></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div routerLink="/Admin/Participation" class="box w3-hover-blue w3-margin w3-round-large w3-card-2 w3-padding">
                <h2 class="w3-center"><Strong>4 </Strong></h2>
                <hr>
                <div class="w3-margin-top">
                    <h1 class="w3-center"><a routerLink="/Admin/Participation"> SAISIE </a></h1>
                </div>
            </div>
        </div>
    </div>
    <div  class="full-width w3-padding w3-hover-blue w3-round-large w3-card-2 state">
        <div class="w3-margin-top">
            <h3 class="w3-center">Vous trouverez les états dans chaque module.</h3>
        </div>
    </div>
</div>