
li a {
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(53, 53, 53, 0.5);
  }
  .routerContainer {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  .dropdown-menu li a{
    background-color: white;
  }
  