<div class="contenu">
    <!-- Ajout de l'examen -->
    <div *ngIf="examAdd == false" class="Exam-details w3-card-2 w3-container w3-margin-bottom w3-padding-24">
        <form class="form-horizontal" #b="ngForm">
            <div class="form-group">
                <label for="titre" class="col-sm-2">Titre</label>
                <div class="col-sm-10">
                    <input type="text" class="w3-input" placeholder="Titre" name="titre" id="titre" [(ngModel)]="titre"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="module" class="col-sm-2">Module</label>
                <div class="col-sm-10">
                    <select (change)="setModule()" [(ngModel)]="id" name="module" id="module" class="w3-select"
                        required>
                        <option *ngFor="let item of ProfesseurModule" [ngValue]="item.idprofesseurModule">
                            {{item.idmodule.nom}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="diffusion" class="col-sm-2">Date de diffusion</label>
                <div class="col-sm-10">
                    <input type="date" name="diffusion" id="diffusion" [(ngModel)]="DateDiffusion" class="w3-input"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="HeureD" class="col-sm-2">Heure début</label>
                <div class="col-sm-10">
                    <input type="time" class="w3-select" id="HeureD" name="HeureD" [(ngModel)]="heureDeb" required>
                </div>
            </div>
            <div class="form-group">
                <label for="duree" class="col-sm-2">Duree</label>
                <div class="col-sm-10">
                    <input type="time" class="w3-input" id="duree" name="duree" [(ngModel)]="Duree" required>
                </div>
            </div>
            <button (click)="AddExamTitre(b)" [disabled]="b.invalid" class="full-width w3-btn w3-blue"><span
                    class="glyphicon glyphicon-plus"></span> {{action}}</button>
            <button *ngIf="action == 'Modifier'" class="btn w3-red full-width w3-margin-top" (click)="EditAnnulation()">Annuler</button>
        </form>
    </div>
    <!-- Ajout des questions  -->
    <div *ngIf="examAdd == true" class="add-question">
        <div class="question-details navbar w3-card-2 w3-container">
                <ul class="nav navbar-nav">
                    <li><a class="w3-margin-bottom ">Titre: {{Exam.titre}}</a></li>
                    <li><a class="w3-margin-bottom">Module: {{Exam.idmodule.nom}}</a></li>
                    <li><a class="w3-margin-bottom">Diffusion: {{diffusion}}</a></li>
                    <li><a class="w3-margin-bottom">Début: {{Exam.debut}}</a></li>
                    <li><a class="w3-margin-bottom">Durée: {{Exam.dureeI}}</a></li>
                </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a title="Enregistrer" class="btn w3-blue w3-margin-right w3-margin-bottom" (click)="SetFinish()"><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
                    <li><a title="Modifier" class="btn w3-teal w3-margin-right w3-margin-bottom" (click)="EditExam()"><span class="glyphicon glyphicon-edit"></span></a></li>
                    <li><a title="Annuler" class="btn w3-red w3-margin-right w3-margin-bottom" (click)="AskForRemoveExam()"><span class="glyphicon glyphicon-trash"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="action w3-card-2 w3-container w3-padding-top-24">
            <form class="w3-container" #q="ngForm">
                <!-- Question number -->
                <div class="form-group">
                    <label for="QuestionNumber">N°:</label>
                    <input type="text" id="QuestionNumber" name="QuestionNumber" [(ngModel)]="questionNumber"
                        class="w3-input" placeholder="N°">
                </div>
                <div class="form-group">
                    <label for="QuestionT">Type</label>
                    <select [(ngModel)]="idType" (change)="seType()" name="QuestionT" id="QuestionT"
                        class="w3-select form-control" required>
                        <option *ngFor="let it of QuestionT" [ngValue]="it.idtype">{{it.type}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question">Question</label>
                    <textarea autosize placeholder="Insérer ici votre question" class="w3-input form-control" name="question"
                        id="question" [(ngModel)]="Question" required rows="10"></textarea>
                </div>
            </form>
            <div *ngIf="idType > 1 ">
                <form #c="ngForm" class="form-horizontal w3-container">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input (change)="findChoice()" (keyup)="findChoice()" type="text"
                                class="form-control w3-input" id="choix" name="choix" [(ngModel)]="choix"
                                placeholder="Ajouter un choix" required>
                        </div>
                        <div class="col-sm-2">
                            <button [disabled]="c.invalid || choiceFound == true" (click)="addChoices(c)"
                                class="w3-btn w3-blue"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </form>
                <div class="w3-container liste-choix">
                    <ul class="nav">
                        <li (change)="findChoice()" *ngFor="let choix of choiceListe">{{choix}} <button
                                (click)="removeChoice(choix)" class="btn btn-danger w3-right"><span
                                    class="glyphicon glyphicon-remove"></span></button></li>
                    </ul>
                </div>
            </div>
            <button [disabled]="q.invalid || validChoiceNumber != true" (click)="AddQuestion(q)"
                class="btn btn-primary full-width"><span *ngIf="!selectedQuestion">Ajouter</span><span
                    *ngIf="selectedQuestion">Modifier</span></button>
        </div>
    </div>
    <!-- Liste des questions -->
    <div *ngFor="let question of QuestionListe" class="w3-margin-top question w3-card-2 w3-container w3-padding-24">
        <div class="navbar">
            <div class="navbar-right w3-container">
                <ul class="nav navbar-nav">
                    <li class="w3-margin-right"><a (click)="AskremoveQuestion(question)" class="btn btn-danger"><span
                                class="glyphicon glyphicon-trash"></span></a></li>
                </ul>
            </div>
        </div>
        <h6><strong>{{question.numQuestion}}</strong> .</h6>
        <p>Type: {{question.idtype.type}}</p>
        <p>{{question.question}}</p>
        <div *ngIf="question.questionChoice != []">
            <div *ngIf="question.idtype.idtype == 2">
                <div class="radio" *ngFor="let it of question.questionChoice">
                    <label><input type="radio" name="optradio">{{it.choix}}</label>
                </div>
            </div>
            <div *ngIf="question.idtype.idtype == 3">
                <div class="checkbox" *ngFor="let it of question.questionChoice">
                    <label><input type="checkbox">{{it.choix}}</label>
                </div>
            </div>
        </div>
    </div>
</div>