<div class="content">
    <div class="navbar">
        <div class="w3-container">
            <div class="navbar-header">
                <ul class="navbar-nav nav">
                    <li><a class="w3-hover-blue" routerLink="Liste" routerLinkActive="w3-blue"> Stocks </a></li>
                    <li><a href="w3-hover-blue" routerLink="Equipe" routerLinkActive="w3-blue"> Stock Equupe</a></li>
                    <li><a class="w3-hover-blue" routerLink="SaisieM" routerLinkActive="w3-blue">Saisie mouvement</a></li>
                    <li><a class="w3-hover-blue" routerLink="Mouvement" routerLinkActive="w3-blue"> Historique mouvement</a></li>
                    <li><a class="w3-hover-blue" routerLink="Quantite" routerLinkActive="w3-blue">Historique quantité</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="routerContainer">
        <router-outlet></router-outlet>
    </div>
</div>