<div class="w3-container">
    <div @fade *ngIf="page == 1">
        <h4 class="w3-center"><strong>Saisie Livrables</strong></h4>
        <form #s="ngForm" class="form-horizontal w3-container w3-padding-top-24 w3-round-large w3-card-2 ">
            <div class="form-group">
                <label for="TypeL" class="col-sm-4">Type livrable</label>
                <div class="col-sm-8">
                    <select required [(ngModel)]="typeL" class="w3-select" name="TypeL" id="TypeL">
                        <option value="Animation">Animation</option>
                        <option value="Boite postale">Boite postale</option>
                        <option value="Epicerie">Epicerie</option>
                        <option value="Gargote">Gargote</option>
                        <option value="Urne GM">Urne GM</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="DateL" class="col-sm-4">Date d'activité animation</label>
                <div class="col-sm-8">
                    <input [(ngModel)]="datel" type="date" id="DateL" name="DateL" class="w3-input">
                </div>
            </div>
            <div class="form-group">
                <label for="SemaineC" class="col-sm-4">Semaine concernée</label>
                <div class="col-sm-8">
                    <input type="number" class="w3-input" min="1" max="6" id="SemaineC" name="SemaineC" [(ngModel)]="semainec" required>
                </div>
            </div>
            <div class="form-group">
                <label for="ContactE" class="col-sm-4">Contact estimé</label>
                <div class="col-sm-8">
                    <input type="number" [(ngModel)]="ContactE" id="ContactE" name="ContactE" class="w3-input">
                </div>
            </div>
            <div class="form-group">
                <label for="NbA" class="col-sm-4">Nombre acheteur</label>
                <div class="col-sm-8">
                    <input [(ngModel)]="nbA" type="number" id="NbA" name="NbA" class="w3-input">
                </div>
            </div>
            <div class="form-group">
                <label for="EnvU" class="col-sm-4">Enveloppes urnes</label>
                <div class="col-sm-8">
                    <input [(ngModel)]="Env" type="number" id="EnvU" name="EnvU" class="w3-input">
                </div>
            </div>
            <div class="form-group">
                <label for="NumUl" class="col-sm-4">Numero urnes</label>
                <div class="col-sm-8">
                    <input [(ngModel)]="numu" required type="number" id="NumUl" name="NumUl" class="w3-input">
                </div>
            </div>
            <div class="navbar">
                <button [disabled]="s.invalid" type="button" class="btn w3-blue w3-right" (click)="Next()"><span></span>
                    Suivant</button>
            </div>
        </form>
    </div>
    <div @fade *ngIf="page == 2">
        <h4 class="w3-center"><strong>Saisie vente animation</strong></h4>
        <div class="navbar">
            <button (click)="Prev()" class="w3-left btn w3-blue w3-card-2">Précedent</button>
            <button (click)="Next()" class="w3-right btn w3-blue w3-card-2">Suivant</button>
        </div>
        <form #a="ngForm" class="form-inline w3-container w3-round-large w3-card-2">
            <div class="form-group w3-margin">
                <label for="ArticleA">Désignation</label>
                <select (change)="selectStock()" required [(ngModel)]="SelectedStocke" class="w3-select" name="ArticleA"
                    id="ArticleA">
                    <option *ngFor="let s of Stocke" [ngValue]="s">{{s.idarticle.designation}}</option>
                </select>
            </div>
            <div class="form-group w3-margin">
                <label for="Vente1">Vente</label>
                <input (change)="selectStock()" type="number" class="w3-input" [max]="getMax()" min="0" id="Vente1" name="Vente1"
                    [(ngModel)]="vente" required>
            </div>
            <div class="form-group w3-margin">
                <label for="Valeur1">Valeur</label>
                <input type="number" id="PirxA" name="PirxA" class="w3-input" readonly [(ngModel)]="prix">
            </div>
            <div class="form-group">
                <button type="submit" (click)=" AddVenteAnimation(a)" [disabled]="a.invalid" class="btn w3-blue"><span
                        class="glyphicon glyphicon-plus"></span> Ajouter</button>
            </div>
        </form>
        <div class="navbar w3-margin-top">
            <div class="w3-right">
                <label for="Total1">Total</label>
                <input readonly class="w3-input" type="number" id="Total1" name="Total1" [(ngModel)]="Total1">
            </div>
        </div>
        <div class="w3-responsive w3-round-large w3-card-2">
            <table class="w3-table">
                <tr class="w3-blue">
                    <th>Désignation</th>
                    <th>Vente</th>
                    <th>Valeur</th>
                </tr>
                <tr *ngFor="let a of DetAnimation">
                    <td> {{a.idstocke.idarticle.designation}}</td>
                    <td>{{a.sortie}}</td>
                    <td>{{a.idstocke.idarticle.prixu * a.sortie}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div @fade *ngIf="page == 3">
        <h4 class="w3-center"><strong>Saisie Don</strong></h4>
        <div class="navbar">
            <button (click)="Prev()" class="w3-left btn w3-blue w3-card-2">Précedent</button>
            <button (click)="Next()" class="w3-right btn w3-blue w3-card-2">Suivant</button>
        </div>
        <form #d="ngForm" class="form-inline w3-container w3-round-large w3-card-2">
            <div class="form-group w3-margin">
                <label for="ArticleD">Désignation</label>
                <select (change)="selectStock()" required [(ngModel)]="SelectedStocke" class="w3-select" name="ArticleD"
                    id="ArticleD">
                    <option *ngFor="let s of Stocke" [ngValue]="s">{{s.idarticle.designation}}</option>
                </select>
            </div>
            <div class="form-group w3-margin">
                <label for="Vente2">Vente</label>
                <input (change)="selectStock()" type="number" [max]="getMax()" min="0" class="w3-input" id="Vente2" name="Vente2"
                    [(ngModel)]="vente" required>
            </div>
            <div class="form-group w3-margin">
                <label for="Valeur2">Valeur</label>
                <input readonly class="w3-input" type="number" id="Valeur2" name="Valeur2" [(ngModel)]="prix">
            </div>
            <div class="form-group">
                <button (click)="AddDon(d)" [disabled]="d.invalid" class="btn w3-blue"><span
                        class="glyphicon glyphicon-plus"></span> Ajouter</button>
            </div>
        </form>
        <div class="navbar w3-margin-top">
            <div class="w3-right">
                <label for="Total2">Total</label>
                <input readonly class="w3-input" type="number" id="Total2" name="Total2" [(ngModel)]="Total2">
            </div>
        </div>
        <div class="w3-responsive w3-round-large w3-card-2">
            <table class="w3-table">
                <tr class="w3-blue">
                    <th>Désignation</th>
                    <th>Vente</th>
                    <th>Valeur</th>
                </tr>
                <tr *ngFor="let d of DetDon">
                    <td>{{d.idstocke.idarticle.designation}}</td>
                    <td>{{d.sortie}}</td>
                    <td>{{d.prix}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div @fade *ngIf="page == 4">
        <h4 class="w3-center"><strong>Saisie Lot</strong></h4>
        <div class="navbar">
            <button (click)="Prev()" class="w3-left btn w3-blue w3-card-2">Précedent</button>
            <button (click)="SaveLivrables()" class="w3-right btn w3-blue w3-card-2">Enregistrer</button>
        </div>
        <form #l="ngForm" class="form-inline w3-container w3-round-large w3-card-2">
            <div class="form-group w3-margin">
                <label for="ArticleL">Désignation</label>
                <select (change)="selectStock()" required [(ngModel)]="SelectedStocke" class="w3-select" name="ArticleL"
                    id="ArticleL">
                    <option *ngFor="let s of Stocke" [ngValue]="s">{{s.idarticle.designation}}</option>
                </select>
            </div>

            <div class="form-group w3-margin">
                <label for="Vente3">Vente</label>
                <input (change)="selectStock()" type="number" [max]="getMax()" min="0" class="w3-input" id="Vente3" name="Vente3"
                    [(ngModel)]="vente" required>
            </div>
            <div class="form-group w3-margin">
                <label for="Valeur3">Valeur</label>
                <input readonly class="w3-input" type="number" id="Valeur3" name="Valeur3" [(ngModel)]="prix">
            </div>
            <div class="form-group">
                <button (click)="AddLot(l)" [disabled]="l.invalid" class="btn w3-blue"><span
                        class="glyphicon glyphicon-plus"></span> Ajouter</button>
            </div>
        </form>
        <div class="navbar w3-margin-top">
            <div class="w3-right">
                <label for="Total3">Total</label>
                <input readonly class="w3-input" type="number" id="Total3" name="Total3" [(ngModel)]="Total3">
            </div>
        </div>
        <div class="w3-responsive w3-round-large w3-card-2">
            <table class="w3-table">
                <tr class="w3-blue">
                    <th>Désignation</th>
                    <th>Vente</th>
                    <th>Valeur</th>
                </tr>
                <tr *ngFor="let l of DetLot">
                    <td>{{l.idstocke.idarticle.designation}}</td>
                    <td>{{l.sortie}}</td>
                    <td>{{l.prix}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>