<div class="content">
    <div @fade *ngIf="!show" class="w3-container">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><a (click)="showBox()" class="btn w3-hover-blue"><span class="glyphicon glyphicon-plus"></span> <span class="text">
                            Nouveau</span></a></li>
                <li><a (click)="Modifier()" class="btn w3-hover-green"><span class="glyphicon glyphicon-pencil"></span> <span class="text">
                            Modifier</span></a></li>
                <li><a (click)="DeleteUser()" class="btn w3-hover-red"><span class="glyphicon glyphicon-trash"></span><span class="text">
                            Supprimer</span></a></li>
            </ul>
        </div>
        <div class="navbar w3-container">
            <div class="w3-right">
                <div class="box-search w3-card-2 flex">
                    <div class="icon">
                        <button class="w3-btn w3-blue"> <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <input [(ngModel)]="search" type="text" placeholder="Recherche" class="search w3-input w3-round-large" id="UserSearch"
                        name="UserSearch">
                </div>
            </div>
        </div>
        <div class="w3-responsive">
            <table class="w3-table w3-striped w3-white">
                <tr class="w3-blue">
                    <th>Nom</th>
                    <th>Tel Telma</th>
                    <th>Tel Airtel</th>
                    <th>Tel Orange</th>
                    <th>Type</th>
                    <th>Equipe</th>
                </tr>
                <tr [class.w3-text-blue]="u == selectedUser" (click)="selectUser(u)" *ngFor="let u of UserL | filter:search">
                    <td>{{u.nomu}}</td>
                    <td>{{u.telAirtel}}</td>
                    <td>{{u.telTelma}}</td>
                    <td>{{u.telOrange}}</td>
                    <td>{{u.idtypeu.destypeu}}</td>
                    <td *ngIf="u.idequipe">{{u.idequipe.equipe}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- User Box -->
    <div @fade *ngIf="show" class="box w3-card-2 w3-container w3-padding-24 ">
        <div class="navbar">
            <div class="w3-right">
                <ul class="navbar-nav nav">
                    <li><a (click)="hideBox()" class="btn w3-red"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal" #u="ngForm">
            <div class="form-group">
                <label class="col-sm-4" for="Nom">Nom</label>
                <div class="col-sm-8">
                    <input type="text" required class="w3-input" placeholder="Nom" id="Nom" name="Nom" [(ngModel)]="nom">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="TelAirtel">Tel Airtel</label>
                <div class="col-sm-8">
                    <input type="text" class="w3-input" placeholder="Tel Airtel" id="TelAirtel" name="TelAirtel" [(ngModel)]="telAirtel">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="TelOrange">Tel Orange</label>
                <div class="col-sm-8">
                    <input type="text" class="w3-input" placeholder="Tel Orange" id="TelOrange" name="TelOrange" [(ngModel)]="telOrange">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="TelOrange">Tel Telma</label>
                <div class="col-sm-8">
                    <input type="text" class="w3-input" placeholder="Tel Telma" id="TelTelma" name="TelTelma" [(ngModel)]="telTelma">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="Typeu">Type</label>
                <div class="col-sm-8">
                    <select class="w3-select" required [(ngModel)]="typeu" name="Typeu" id="Typeu">
                        <option *ngFor="let t of typeU" [ngValue]="t.destypeu">{{t.destypeu}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="typeu == 'Simple'" class="form-group">
                <label class="col-sm-4" for="Equipe">Equipe</label>
                <div class="col-sm-8">
                    <select class="w3-select" [(ngModel)]="equipeN" name="Equipe" id="Equipe">
                        <option *ngFor="let e of EquipeL" [ngValue]="e.equipe">{{e.equipe}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="TelAirtel">Mot de passe</label>
                <div class="col-sm-8">
                    <input type="password" required class="w3-input" placeholder="Mot de passe" id="Mdp" name="Mdp" [(ngModel)]="mdp">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="TelAirtel">Confirmer mot de passe</label>
                <div class="col-sm-8">
                    <input type="password" required class="w3-input" placeholder="Mot de passe" id="ConfMdp" name="ConfMdp" [(ngModel)]="confMdp">
                </div>
            </div>
            <button [disabled]="u.invalid || mdp != confMdp" (click)="SaveData()" class="btn w3-blue full-width w3-margin-bottom"><span class="glyphicon glyphicon-save"> Enregistrer</span></button>
        </form>
    </div>
</div>