<nav class="navbar sidenav">
    <div class="nav-title">
        <h5 class="glyphicon glyphicon-education"> ISTS</h5>
        <button onclick="test()" class="w3-btn toggle w3-text-white"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </div>
    <ul class="nav">
        <li><a routerLink="Profil" routerLinkActive="active" class="username">{{prof.nom}} {{prof.prenom}}</a></li>
        <li class="titles w3-margin-top">Enseignement</li>
        <li><a routerLink="cours" routerLinkActive="active"> Mes cours</a></li>
        <li><a routerLink="Retour" routerLinkActive="active">Consulter retour</a></li>
        <li><a routerLink="Message" routerLinkActive="active"> Messages</a></li>
        <li><a routerLink="Examen" routerLinkActive="active">Examen</a></li>
        <hr>
        <li class="titles w3-margin-top">Responsabilités</li>
        <li><a routerLink="Etudiant" routerLinkActive="active">Etudiants</a></li>
        <li><a routerLink="Enseignant" routerLinkActive="active">Enseignants</a></li>
        <li></li>
        <hr>
        <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
    </ul>
</nav>
<div id="content">
    <router-outlet></router-outlet>
</div>