<div class="content">
    <div class="w3-container">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="Liste" routerLinkActive="w3-blue">Liste</a></li>
                <li><a routerLink="Parfums" routerLinkActive="w3-blue">Parfums</a></li>
                <li><a routerLink="Motif" routerLinkActive="w3-blue">Motif non conformité</a></li>
            </ul>
        </div>
    </div>
    <div class="routerContainer">
        <router-outlet></router-outlet>
    </div>
</div>