<div class="contenu">
    <div class="box">
        <div class="header">
            <strong>
                <h4 class="w3-text-white title"><label>ISTS FORMATION A DISTANCE </label></h4>
            </strong>
        </div>
        <form class="w3-padding-top-64" #l="ngForm">
            <strong>
                <h4 class="w3-center">Veuillez vous identifier</h4>
            </strong>
            <label for="codeA" class="w3-center">Saisissez votre code d'accès</label>
            <input name="codeA" id="codeA" [(ngModel)]="code" #Code="ngModel" required type="text" class="w3-input">
            <label for="codeA" class="w3-center w3-margin-top">Saisissez votre mot de passe</label>
            <input name="Pass" id="Pass" [(ngModel)]="password" #Password="ngModel" type="password" required
                class="w3-input">
            <button [disabled]="l.invalid" (click)="login()" class="btn w3-teal w3-margin-top mx-auto w-50"
                type="submit"> Connexion</button>
            <h6 class="w3-margin-top w3-center"><a class="modif w3-text-blue"
                    href="https://www.digitec.mg/ists/index.php">Administrateur</a>
            </h6>
        </form>
    </div>
</div>