<div class="contenu">
    <div class="login">
        <div class="w3-padding">
            <form class="w3-container" #l="ngForm">
                <div class="w3-margin">
                    <label class="w3-text-blue">
                        Nom de l'utilisateur
                    </label>
                    <input required [(ngModel)]="nom" type="text" class="w3-input" name="UserName" id="Username" placeholder="Nom et prenom de l'utilisateur">
                </div>
                <div class="w3-margin ">
                    <label for="Mdp" class="w3-text-blue">Mot de passe</label>
                    <input required [(ngModel)]="mdp" type="password" id="Mdp" name="Mdp" class="w3-input" placeholder="Mot de passe">
                </div>
                <div class="w3-center">
                    <button (click)="login()" [disabled]="l.invalid" class="btn w3-blue">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>