<nav class="navbar w3-white">
    <div class="w3-container w3-padding-24">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a routerLink="/Etudiant" class="navbar-brand w3-circle navbar-title"><span
                    class="glyphicon glyphicon-education w3-text-teal"></span></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="navbar-right navbar-nav nav w3-text-teal">
                <li><a data-target="#myNavbar" data-toggle="collapse" routerLink="Profil"
                        routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> <span> </span>
                        Profil</a></li>
                <li><a data-target="#myNavbar" data-toggle="collapse" routerLink="Cours" routerLinkActive="active"><span
                            class="glyphicon glyphicon-book"></span> Leçons</a></li>
                <li><a data-target="#myNavbar" data-toggle="collapse" routerLink="Examen"
                        routerLinkActive="active"><span class="fa fa-list-alt"></span> <span></span> Examen</a></li>
                <li><a data-target="#myNavbar" data-toggle="collapse" routerLink="Message"
                        routerLinkActive="active"><span class="fa fa-paper-plane"></span> <span></span> Messages</a>
                </li>
                <li><a data-target="#myNavbar" data-toggle="collapse" (click)="logout()"><span
                            class="glyphicon glyphicon-log-out"></span> <span> </span> Déconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="routerContainer" [@routerAnimation]="getDepth(myOutlet)">
    <button class="w3-btn w3-blue info-btn w3-circle" data-toggle="modal" data-target="#FlashModal" id="modal"
        name="modal">
        <span class="glyphicon glyphicon-info-sign">
        </span>
    </button>
    <router-outlet #myOutlet="outlet"></router-outlet>
</div>
<div id="FlashModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header w3-teal">
                <h4 class="modal-title">Flash Info</h4>
            </div>
            <div class="modal-body">
                <ul class="nav w3-container">
                    <li class="w3-card-2" *ngFor="let flash of info">
                        
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>