<div class="row">
    <div class="col-sm-8 center">
        <div class="add">
            <ul class="navbar-nav nav w3-container">
                <li><a class="btn"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>
                <li><a class="btn"><span class="glyphicon glyphicon-list"></span> Trier par</a></li>
                <li><input type="text" placeholder="Rechercher" class="form-control search"></li>
            </ul>
        </div>
        <div class="contenu">
            <div class="post">

            </div>
            <div class="post">

            </div>
            <div class="post">

            </div>
            <div class="post">

            </div>
            <div class="post">

            </div>
            <div class="post">

            </div>
        </div>
    </div>
    <div class="col-sm-4 left">
        <div class="liste">
            <ul class="nav">
                <li class="Titles"> Vos Cours</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>