<div class="row contenu">
    <div class="col-sm-8 center">
        <div class="add">
            <ul class="navbar-nav nav w3-container">
                <li><a class="btn" routerLink="/Professeur/cours/cours-ajout"><span class="glyphicon glyphicon-plus"></span>
                        Ajouter</a>
                </li>
                <li><input type="text" id="search" name="search" [(ngModel)]="search" placeholder="Rechercher"
                        class="w3-input search"></li>
            </ul>
        </div>
        <div class="contenu">
            <div class="post w3-container w3-padding-top-24" *ngFor="let item of Doc | filter:search">
                <div class="action">
                    <button (click)="selectDoc(item)" class="btn w3-blue w3-hover-blue" data-toggle="modal"
                        data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button (click)="deleteDoc(item)" class=" btn w3-hover-red w3-red"><span
                            class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <p class="date margin-top">Date de création: {{item.creation}}</p>
                <p class="date">Date de diffusion: {{item.diffusion}}</p>
                <p class="date">Date d' éxpiration: {{item.expiration}}</p>
                <p class="date">A rendre le: {{item.aRendre}}</p>
                <h4 *ngIf="item.idmodule">Module: {{item.idmodule.nom}}</h4>
                <h4 *ngIf="item.idniveau">Niveau: {{item.idniveau.nom}}</h4>
                <h3>{{item.titre}}</h3>
                <div class="type">Type {{item.type}}</div>
                <p>{{item.description}}</p>
                <div *ngFor="let it of item.doclien" class="file">
                    <a download="{{it.nomFichier}}"
                        href="ISTS-Formation.digitec.mg/assets/File/{{it.url}}">{{it.nomFichier}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs col-sm-4">
        <div class="liste container">
            <ul class="nav title">
                <h3>Vos Cours</h3>
                <li [class.w3-blue]="titre == ''" (click)="showAll()">Touts</li>
                <li [class.w3-blue]="item == selectedDoc" *ngFor="let item of Docs" (click)="selectCours(item)">{{item.titre}}</li>
            </ul>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close w3-hover red" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modifier ce post</h4>
            </div>
            <div class="modal-body">
                <form class="w3-margin-top" #b="ngForm" *ngIf="selectedDoc">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="diffusion">Date de diffusion</label>
                            <input id="diffusion" name="diffusion" type="date" [(ngModel)]="selectedDoc.diffusion"
                                class="w3-input">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="expiration">Date d'éxpiration</label>
                            <input id="expiration" name="expiration" type="date" [(ngModel)]="selectedDoc.expiration"
                                class="w3-input">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="aRendre">A rendre le</label>
                            <input type="date" name="aRendre" [(ngModel)]="selectedDoc.aRendre" id="aRendre"
                                class="w3-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="titre">Titre</label>
                                <input type="text" class="w3-input" name="titre" [(ngModel)]="selectedDoc.titre"
                                    id="titre" placeholder="Titre" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="desc" id="description" [(ngModel)]="selectedDoc.description" cols="30"
                                    rows="10" class="w3-input" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="parcours">Module</label>
                                <select [(ngModel)]="selectedDoc.idmodule" name="parcours" id="parcours"
                                    class="w3-select" required>
                                    <option *ngFor="let item of Module" value="item">{{item.idmodule.nom}}
                                        <span>{{item.idniveau.nom}}</span>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="parcours">Type</label>
                                <select [(ngModel)]="selectedDoc.type" name="Type" id="Type" class="w3-select" required>
                                    <option [selected]="selectedDoc.type" value="Assimilation">ASSIMILATION</option>
                                    <option [selected]="selectedDoc.type" value="Exercice">EXERCICE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <ul class="nav">
                                    <li *ngFor="let it of selectedDoc.doclien"><a> {{it.nomFichier}}<button
                                                class="btn btn-default w3-right" (click)="removeDoclien(it)"><span
                                                    class="glyphicon glyphicon-remove"></span></button></a></li>
                                </ul>
                                <input #Pick accept=".txt, .pdf, .png, .jpg, .mp4, .mp3, .docx" class="select"
                                    type="file" multiple (change)="onSelectFile($event)">
                                <button (click)="Pick.click()" class="btn btn-default w3-hover-blue">Ajouter des
                                    fichiers</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn w3-blue">Sauvegarder</button>
            </div>
        </div>

    </div>
</div>