<nav class="navbar first">
  <div class="w3-container">
    <div class="navbar-header">
      <a routerLink="/Admin/" class="navbar-brand navbar-title w3-circle w3-card-2"><span
          class="glyphicon glyphicon-education w3-text-teal"></span></a>
    </div>
    <div class="navbar-right">
      <ul class="navbar-nav nav">
        <li class="w3-margin w3-container annee "><span class="w3-text-teal"> Année universitaire: </span> {{AnneeEncours.annee}}</li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar w3-teal second">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="myNavbar">
    <ul class="navbar-nav nav">
      <li><a routerLink="Etudiant" routerLinkActive="active">Etudiant</a></li>
      <li><a routerLink="Enseignant" routerLinkActive="active">Enseignant</a></li>
      <li><a routerLink="Administrateur" routerLinkActive="active">Administrateur</a></li>
      <li><a routerLink="FlashInfo" routerLinkActive="active">Communiqué</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle w3-text-white w3-teal" data-toggle="dropdown">Paramètre <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="w3-hover-teal"><a routerLink="Annee">Année</a></li>
          <li class="w3-hover-teal"><a routerLink="Parcours">Parcours</a></li>
          <li class="w3-hover-teal"><a routerLink="Niveau">Niveau</a></li>
          
          <li class="w3-hover-teal"><a routerLink="Module">Module</a></li>
          
          <li class="w3-hover-teal"><a routerLink="Niveau">Module et intervenant</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav nav navbar-right">
      <li><a (click)="logout()">Se deconnecter</a></li>
    </ul>
  </div>
</nav>
<div class="routerContainer">
  <div class="w3-display-container fond">
    <div class="w3-display-middle">
      <span class="glyphicon glyphicon-education icon"></span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>