<div class="contenu">
    <ul class="sidenav nav w3-display-container w3-text-blue">
        <li class="w3-padding w3-margin-bottom"><a onclick="move()" class="btn w3-margin-right"><span
                    class="glyphicon glyphicon-menu-hamburger"></span></a></li>
        <li class="w3-padding w3-margin-top"><a onclick="hide()" routerLink="Start" routerLinkActive="active"
                class="btn w3-margin-right"><span class="fa fa-home"></span> <span class="text w3-margin-left"> <strong>
                        Accueil</strong></span></a></li>
        <li class="w3-padding w3-margin-top"><a onclick="hide()" routerLink="Profil" routerLinkActive="active"
                class="btn w3-margin-right"><span class="fa fa-user"></span> <span class="text w3-margin-left"> <strong>
                        Profil</strong></span></a></li>
        <li class="w3-padding w3-margin-top"><a onclick="hide()" routerLink="Article" routerLinkActive="active"
                class="btn w3-margin-right"><span class="fa fa-shopping-bag"></span> <span
                    class="text w3-margin-left"><strong> Articles</strong> </span></a></li>
        <li class="w3-padding w3-margin-top"><a onclick="hide()" routerLink="Stocks" routerLinkActive="active"
                class="btn w3-margin-right"><span class="fa fa-warehouse"></span> <span class="text w3-margin-left">
                    <strong>
                        Stocks</strong></span></a></li>
        <li class="w3-padding w3-margin-top"><a routerLinkActive="active" routerLink="Urnes" class="btn w3-margin-right"
                onclick="hide()"><span class="fa fa-box"></span> <span class="text w3-margin-left"><strong>
                        Urnes</strong></span></a></li>
        <li class="w3-padding w3-margin-top"><a routerLinkActive="active" routerLink="Participation" class="btn w3-margin-right"
                onclick="hide()"><span class="glyphicon glyphicon-envelope"></span> <span class="text w3-margin-left"><strong>
                        Enveloppes</strong></span></a></li>
        <li class="w3-padding w3-margin-top"><a routerLinkActive="active" routerLink="Livrables"
                class="btn w3-margin-right" onclick="hide()"><span class="fa fa-truck"></span> <span
                    class="text w3-margin-left"><strong> Livrables</strong></span></a></li>
        <li class="w3-margin-top">
            <a data-toggle="collapse" data-target="#demo" class="btn"><span class="glyphicon glyphicon-cog"></span>
                <span class="text w3-margin-left"><strong> Paramètres</strong> </span></a>
        </li>
        <ul id="demo" class="collapse nav">
            <li><a onclick="hide()" routerLink="Utilisateurs" data-toggle="collapse" data-target="#demo"
                    class="btn"><span class="text"> <strong> Utilisateurs</strong></span></a></li>
            <li><a onclick="hide()" routerLink="Equipe" data-toggle="collapse" data-target="#demo" class="btn"><span
                        class="text"> <strong> Equipe</strong></span></a></li>
            <li><a onclick="hide()" routerLink="VilleI" data-toggle="collapse" data-target="#demo" class="btn"><span
                        class="text"> <strong>Ville Intermédiaire</strong> </span></a></li>
        </ul>
        <div class="bot">
            <li><a (click)="Logout()" class="w3-container w3-padding btn w3-margin-right"><span
                        class="glyphicon glyphicon-log-out "></span><span class="text w3-margin-left"><strong> Se
                            déconnecter</strong></span></a></li>
        </div>
    </ul>
</div>
<div id="contenu" class="routerContainer">
    <router-outlet></router-outlet>
</div>