<div class="w3-container">
    <div class="w3-responsive w3-white w3-card-2 w3-round-large">
        <table class="w3-table w3-striped">
            <tr class="w3-blue">
                <th>Faritany</th>
                <th>PP</th>
                <th>VI</th>
                <th>OE</th>
                <th>PS</th>
                <th>Total</th>
            </tr>
            <tr *ngFor="let p of Parfums">
                <td>{{p.faritany}}</td>
                <td>{{p.nbpp}}</td>
                <td>{{p.nbvi}}</td>
                <td>{{p.nboe}}</td>
                <td>{{p.nbps}}</td>
                <td>{{p.nbpp + p.nbvi + p.nboe + p.nbps}} </td>
            </tr>
        </table>
    </div>
</div>