.content{
    width: 100%;
    min-height: 100%;
}
.Rect{
    width: 15px;
    height: 30px;
    background-color: grey;
    margin-left: 2px;
    display: inline-block;
}
.first{
    animation: move 2s ease infinite none;
}

.second{
    animation: moves 2s ease infinite none;
}

.third{
    animation: movet 2s ease infinite none;
}

.fourth{
    animation: movef 1s 4s ease infinite none;
}
@keyframes move {
    0%{
        height: 30px;
    }
    50%{
        height: 50px;
    }
    100%{
        height: 30px;
    }
}
@keyframes moves {
    0%{
        height: 30px;
    }
    25%{
        height: 50px;
    }
    100%{
        height: 30px;
    }
}

@keyframes movet {
    0%{
        height: 30px;
    }
    75%{
        height: 50px;
    }
    100%{
        height: 30px;
    }
}

@keyframes movef {
    0%{
        height: 30px;
    }
    100%{
        height: 50px;
    }
}
