<div class="contenu">
    <div>
        {{DateString}}
        {{ActuTime}}
        <button (click)="MyTime()" class="btn w3-red">show it</button>
        <input type="time" id="ActualTime" name="ActualTime" [(ngModel)]="serverTime">
    </div>
    <div class="w3-padding">
        <h3 class="w3-text-teal w3-center">Examen à venir</h3>
        <p> <span class="w3-text-red"><strong> N.b:</strong></span> Dès que vous cliquez sur le bouton commencer le compteur se déclenchera. Assurer que vous ne serez pas intérompu pendant le test.</p>
    </div>
    <div *ngFor="let exam of ExamListe" class="exam-post w3-round-large w3-card-2 w3-blue w3-padding-top-64 w3-margin">
        <h4 class="w3-margin">{{exam.titre}}</h4>
        <div class="w3-padding-64 w3-container w3-white w3-margin-top">
           <div>
               <button (click)="selectExam(exam)" class="btn w3-blue">Commencer</button>
           </div>
        </div>
    </div>
</div>