<div class="form w3-container">
    <div class="head">
        <a routerLink="/Professeur" class="btn btn-default w3-right"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
    <form class="w3-margin-top" #b="ngForm">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="diffusion">Date de diffusion</label>
                <input id="diffusion" name="expiration" type="date" [(ngModel)]="diffusion" class="w3-input">
            </div>
            <div class="form-group col-sm-4">
                <label for="expiration">Date d'éxpiration</label>
                <input id="expiration" name="expiration" type="date" [(ngModel)]="expiration" class="w3-input">
            </div>
            <div class="form-group col-sm-4">
                <label for="aRendre">A rendre le</label>
                <input type="date" name="aRendre" [(ngModel)]="aRendre" id="aRendre" class="w3-input">
            </div>        
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="titre">Titre</label>
                    <input type="text" class="w3-input" name="titre" [(ngModel)]="titre" id="titre" placeholder="Titre" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea autosize name="desc" id="description" [(ngModel)]="description" cols="30" rows="10" class="w3-input" placeholder="Description" required></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="module">Module</label>
                    <select (change)="setModule()" [(ngModel)]="id" name="module" id="mdoule" class="w3-select" required>
                        <option *ngFor="let item of Module" [ngValue]="item.idprofesseurModule">{{item.idmodule.nom}} <span>{{item.idniveau.nom}}</span></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="parcours">Type</label>
                    <select [(ngModel)]="type" name="Type" id="Type" class="w3-select" required>
                        <option value="Assimilation">ASSIMILATION</option>
                        <option value="Exercice">EXERCICE</option>
                    </select>
                </div>
                <div class="form-group">

                    <input #Pick accept=".txt, .pdf, .png, .jpg, .mp4, .mp3" class="select" type="file" multiple (change)="onSelectFile($event)">
                    <button (click)="Pick.click()" class="btn btn-default w3-hover-blue">Ajouter des fichiers</button>
                </div>
            </div>
        </div>
        <button (click)="addCours()" class="w3-btn w3-blue full-width"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter</button>
    </form>
</div>
