<div class="content">
    <div class="w3-container">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="ListeDepot" routerLinkActive="w3-blue">Liste</a></li>
                <li><a routerLink="Itineraire" routerLinkActive="w3-blue">Itinéraire journalier</a></li>
                <li><a routerLink="Distribution" routerLinkActive="w3-blue">Distribution urnes</a></li>
                <li><a routerLink="Ramassage" routerLinkActive="w3-blue">Ramassage non achevé</a></li>
            </ul>
        </div>
    </div>
    <div class="routerContainer">
        <router-outlet></router-outlet>
    </div>
</div>