<div class="w3-container">
    <div class="w3-padding-top-64">
        <h4 class="w3-center"><strong> Cumul recette par équipe </strong></h4>
        <div class="form-inline">
            <div class="form-group w3-margin">
                <label for="EquipeL">Equipe</label>
                <select (change)="selectEquipe()" [(ngModel)]="SelectedE" name="EquipeL" id="EquipeL" class="w3-select">
                    <option *ngFor="let e of Equipe" [ngValue]="e">{{e.equipe}}</option>
                </select>
            </div>
            <div class="form-group w3-margin">
                <label for="RDateR">Date</label>
                <input (change)="selectEquipe()" type="date" class="w3-input" id="RDateR" name="RDateR" [(ngModel)]="DateR">
            </div>
            <div class="form-group w3-margin">
                <label for="EnvE">Enveloppe</label>
                <input readonly type="number" class="w3-input" id="REnvE" name="REnvE" [(ngModel)]="Enveloppe">
            </div>
        </div>
    </div>
</div>