<div class="w3-container">
    <div class="navbar w3-container">
        <div class="w3-right">
            <div class="box w3-card-2 flex">
                <div class="icon">
                    <button class="w3-btn w3-blue"> <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <input type="text" placeholder="Recherche" class="search w3-input w3-round-large" id="HistoStockSearch"
                    name="HistoStockSearch">
            </div>
        </div>
    </div>
    <div class="w3-responsive">
        <table class="w3-table w3-striped w3-white">
            <tr class="w3-blue">
                <th>Date</th>
                <th>Désignation</th>
                <th>Entré</th>
                <th>Sortie</th>
                <th>Quantité restant</th>
            </tr>
            <tr *ngFor="let h of HistoStockListe | filter:search">
                <td>{{h.dateh}}</td>
                <td>{{h.idarticle.designation}}</td>
                <td>{{h.qtee}}</td>
                <td>{{h.qtes}}</td>
                <td>{{h.qter}}</td>
            </tr>
        </table>
    </div>
</div>