<div class="contenu">
    <div class="row">
        <div class="col-sm-6">
            <div class="etudiant-message">
                <h4 class="w3-center w3-margin"><strong>Message Etudiant</strong></h4>
                <div *ngFor="let message of MessageEtudiant">
                    <div  data-target="#MessageEnv" data-toggle="modal" (click)="selectMessage(message)"  class="w3-hover-blue w3-round-large message-list w3-margin w3-card-2 w3-container w3-padding">
                        <h4><strong>À: </strong> {{message.idetudiant.nom}} {{message.idetudiant.prenom}}</h4>
                        <h4>{{message.message}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="professeur-message">
                <h4 class="w3-center w3-margin"><strong>Message Professeur</strong></h4>
                <div *ngFor="let pmessage of ProfSendMessage">
                    <div  data-target="#MessagePEnv" data-toggle="modal" (click)="selectPMessage(pmessage)"  class="w3-hover-blue w3-round-large message-list w3-margin w3-card-2 w3-container w3-padding">
                        <h4><strong>À: </strong> {{pmessage.iddestinataire.nom}} {{pmessage.iddestinataire.prenom}}</h4>
                        <h4>{{pmessage.message}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Etudiant Message modal -->
<div *ngIf="selectedMessage" class="modal fade" role="dialog" id="MessageEnv">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dismissM" class="w3-text-red close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="modal-body w3-container">
                <form #s="ngForm">
                    <label *ngIf="selectedProfesseur" for="destinataire">À: {{selectedEtudiant.nom}}
                        {{selectedEtudiant.prenom}}</label>
                    <span class="selectedProfesseur"></span>
                    <h4><strong>Pièce jointe:</strong></h4>
                    <ul *ngIf="filename" class="nav w3-margin w3-container w3-padding w3-round-large w3-card-2">
                        <li>
                            <a download="{{filename}}" href="/assets/File/{{selectedMessage.urlfile}}"><span class="glyphicon glyphicon-file"> {{filename}}</span></a>
                        </li>
                    </ul>
                    <textarea readonly class="w3-input" [(ngModel)]="selectedMessage.message" name="MessageC"
                        id="MessageC" cols="30" rows="10" placeholder="Insérer votre message" required></textarea>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Prof Message modal -->
<div *ngIf="selectedMessageP" class="modal fade" role="dialog" id="MessagePEnv">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dismissM" class="w3-text-red close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="modal-body w3-container">
                <form #s="ngForm">
                    <label *ngIf="selectedProfesseur" for="destinataire">À: {{selectedProfesseur.nom}}
                        {{selectedProfesseur.prenom}}</label>
                    <span class="selectedProfesseur"></span>
                    <textarea readonly class="w3-input" [(ngModel)]="selectedMessageP.message" name="MessageC"
                        id="MessageC" cols="30" rows="10" placeholder="Insérer votre message" required></textarea>
                </form>
            </div>
        </div>
    </div>
  
</div>
