/* You can add global styles to this file, and also import other style files */
.full-width {
  width: 100%;
}
input::placeholder {
  transition: color 1s ease;
}
input:focus::placeholder {
  color: transparent;
}
input:focus{
  outline:  none;
}
button:focus{
  outline: none;
}
.flex{
  display: flex;
}