<div class="w3-container">
    <div class="form-inline">
        <div class="form-group w3-margin">
            <label for="RetourEquipe">Equipe</label>
            <select (change)="selectEquipe()" class="w3-select" [(ngModel)]="selectedEquipe" name="RetourEquipe" id="RetourEquipe">
                <option *ngFor="let e of Equipe" [ngValue]="e">{{e.equipe}}</option>
            </select>
        </div>
        <div class="w3-margin-top w3-responsive w3-round-large w3-card-2 w3-white">
            <table class="w3-table w3-striped">
                <tr class="w3-blue">
                    <th>Désignation</th>
                    <th>Quantité</th>
                    <th>Date retour</th>
                </tr>
                <tr *ngFor="let r of Result">
                    <td>{{r.idarticle.designation}}</td>
                    <td>{{r.qte}}</td>
                    <td>{{r.dater}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>