<div class="contenu">
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <div class="w3-center w3-container menu w3-card-2">
                <ul class="nav">
                    <li>
                        <button data-target="#EMessageModal" data-toggle="modal"
                    class="full-width w3-margin-top w3-margin-bottom btn w3-padding w3-round-large new w3-blue"><span
                        class="glyphicon glyphicon-plus"></span> <span class="text"> Nouveau</span></button>
                    </li>
                    <li>
                        <button routerLink="Envoye" routerLinkActive="w3-teal"
                            class="btn MessageListe w3-round-large w3-hover-blue w3-card-2 w3-margin-bottom w3-padding">
                            <span class="glyphicon glyphicon-send"></span>
                            <span class="text">
                                Message envoyé
                            </span>
                        </button>
                    </li>
                    <li>
                        <button routerLink="Recu" routerLinkActive="w3-teal"
                            class="btn MessageListe w3-hover-blue w3-round-large w3-card-2 w3-margin-bottom w3-padding">
                            <span class="glyphicon glyphicon-inbox"></span>
                            <span class="text">
                                Message réçu
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9">
            <div class="routerContainer">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- Message modal -->
<div class="modal fade" role="dialog" id="EMessageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dismissM" class="w3-text-red close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="modal-body w3-container">
                <form #s="ngForm">
                    <label *ngIf="selectedProfesseur" for="destinataire">À:</label>
                    <select [(ngModel)]="selectedProfesseur" class="w3-select" name="Prof"
                        id="Prof">
                        <option *ngFor="let prof of ProfList" [ngValue]="prof">{{prof.nom}} {{prof.prenom}}</option>
                    </select>

                    <span class="selectedProfesseur"></span>
                    <ul *ngIf="filename != '' " class="nav w3-margin w3-container w3-padding w3-round-large w3-card-2">
                        <li>
                            <span class="glyphicon glyphicon-file"> {{filename}}</span>
                        </li>
                    </ul>
                    <textarea (keyup)="ValidateMessage()" class="w3-input" [(ngModel)]="message" name="MessageC"
                        id="MessageC" cols="30" rows="10" placeholder="Insérer votre message" required></textarea>
                    <ul class="w3-margin-top navbar-nav nav w3-right">
                        <li><button (click)="Pick.click()" title="Ajouter un fichier"
                                class="btn w3-margin w3-blue"><span class="glyphicon glyphicon-file"></span></button>
                        </li>
                        <li><button [disabled]="nombre<=0 && validMessage == false" class="btn w3-blue w3-margin"
                                (click)="SendMessage()">Envoyer</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <input (change)="onSelectFile($event)" type="file" id="MessageFile" name="MessageFile" #Pick
        accept=".txt, .pdf, .png, .jpg, .mp4, .mp3" class="select">